<app-message-modal
  [visible]="appService.process.processingMode"
  [message]="appService.process.message">
</app-message-modal>

<p-panel id="htmlContent">
  <ng-template pTemplate="header">
    <div><span class="pi pi-fw pi-calculator"></span>&nbsp;Teoría del número</div>
  </ng-template>

  <ng-template pTemplate="icons">
    <div>
      <!--
      <button type="button" pButton (click)="create()" title="Create expression" class="p-button-outlined p-button-info">
        <em class="pi pi-plus-circle"></em>
      </button>
      -->
      <button type="button" pButton (click)="onClickPrint()" title="Print list of expressions" class="p-button-outlined p-button-success">
        <em class="pi pi-print"></em>
      </button>
    </div>
  </ng-template>

  <ng-template pTemplate="body">
    <div class="grid bg-gray-900">
      <div class="col-12 md:col-6">
        <p class="title">Planteamiento:</p>
        <p>Cualquier número entero puede descomponerse en sus factores primos.</p>
        <p><span class="subtitle">Fuente:</span>
          <br /><span class="cursive">La descomposición de un número en factores primos es única.</span>
          <br />Hall, M. A., H. S., and Knight, B. A., S. R., <span class="cursive">Álgebra Superior.</span>
          <br />Pps. 411-413. Editorial UTEHA, S. A. de C. V., 1982.
        </p>
      </div>
      <div class="col-12 md:col-6">
        <p class="title">Solución:</p>
        <p>El algoritmo determinará cuáles son esos factores, incluyendo el factor unidad y el mismo número X, los únicos factores resultantes para cuando X sea un número primo. Además, el algoritmo determina si el número X es primo y si es par o impar.</p>
        <p>Si el usuario introduce números Y y Z, el algoritmo determinará si X es múltiplo de Y y si X es divisor de Z.</p>
        <p>Se incluye un gráfico con escalas logarítmicas, con el cual se podrán visualizar resultados geométricamente muy interesantes, y en ocasiones patrones de comportamiento sorprendentes.</p>
        <p>Para fines de eficiencia y practicidad se sugiere no usar números enteros mayores a las decenas de miles de millones, aunque teóricamente es posible usar como límite seguro el número {{maximalSafeNumber}}, pero no lo recomendamos. Considérese que mientras mayor sea el número, mayor tiempo demorará el algoritmo en realizar sus cálculos.</p>
      </div>
    </div>
    <form form="form">
      <div class="grid bg-gray-900">
        <div class="col-12 md:col-4">
          <label for="number"><span class="pi pi-sort-numeric-up"></span>&nbsp;Número X<span class="required">*</span></label>
          <input type="number" inputId="number" placeholder="1...{{maximalSafeNumber}}" [formControl]="controls.number" pInputText class="w-full" />
        </div>
        <div class="col-12 md:col-4">
          <label for="multipleOf"><span class="pi pi-sort-numeric-up"></span>&nbsp;¿X es múltiplo del número Y?</label>
          <input type="number" inputId="multipleOf" placeholder="1...{{maximalSafeNumber}}" [formControl]="controls.multipleOf" pInputText class="w-full" />
        </div>
        <div class="col-12 md:col-4">
          <label for="divisorOf"><span class="pi pi-sort-numeric-up"></span>&nbsp;¿X es divisor del número Z?</label>
          <input type="number" inputId="divisorOf" placeholder="1...{{maximalSafeNumber}}" [formControl]="controls.divisorOf" pInputText class="w-full" />
        </div>
      </div>
    </form>
    <p><span class="required">*</span>Datos requeridos.</p>

    <ng-container *ngIf="integers.length > 0">
      <div class="grid bg-gray-900">
        <div class="col-12 md:col-6">
          <p-table #dt
            [value]="integers"
            dataKey="id"
            [paginator]="false"
            [rows]="50"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} expressions"
            [rowsPerPageOptions]="[10, 25, 50, 100]"
            [filterDelay]="100"
            [globalFilterFields]="[]"
            styleClass="p-datatable-gridlines p-datatable-striped">

            <ng-template pTemplate="caption">
              <div class="table-header">
                <div class="grid">
                  <div class="col-12 md:col-4"><span class="pi pi-sort-alpha-down"></span>&nbsp;Atributos del Número</div>
                  <div class="col-12 md:col-8 text-right">
                    <!-- <span class="p-input-icon-right ml-auto">
                      <i class="pi pi-search"></i>
                      <input type="text" pInputText
                        [formControl]="search"
                        (input)="dt.filterGlobal(search.value, 'contains')"
                        placeholder="Global search" />
                    </span> -->
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th id="value" pSortableColumn="value" class="width-20"><p-sortIcon field="value"></p-sortIcon>&nbsp;Número</th>
                <th id="attributes" pSortableColumn="attributes" class="width-20"><p-sortIcon field="attributes"></p-sortIcon>&nbsp;Atributos</th>
                <th id="divisors" class="width-20 text-center">Factores Primos</th>
                <th id="others" class="width-40 text-center">Conjuntos de Factores Primos</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
              <tr style="font-size: small; vertical-align: top;">
                <td>
                  <p>{{integer.value}}</p>
                </td>
                <td class="text-center">
                  <ng-container *ngIf="integer.isEven; else isOdd">
                    <p-tag severity="success" value="Par"><span class="pi pi-check-square text-right tag">&nbsp;</span></p-tag>
                  </ng-container>
                  <ng-template #isOdd>
                    <p-tag severity="success" value="Impar"><span class="pi pi-check-square text-right tag">&nbsp;</span></p-tag>
                  </ng-template>
                  <ng-container *ngIf="integer.isPrime">
                    <br />
                    <p-tag severity="info" value="Primo"><span class="pi pi-check-square text-right tag">&nbsp;</span></p-tag>
                  </ng-container>
                </td>
                <td>
                  <p *ngFor="let primes of integer.primes" >
                    {{primes}}
                  </p>
                </td>
                <td>
                  <p *ngFor="let sets of integer.primesSet" >
                    {{sets|set}}
                  </p>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="5">integers not found!</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="col-12 md:col-6">
          <app-d3-log-scale [data]="data"></app-d3-log-scale>
        </div>
      </div>
    </ng-container>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="grid">
      <div class="col-12 text-center">
        <button type="button" label="Calculate" pButton title="Calculate" [disabled]="form.invalid" (click)="onClickCalculate()" class="p-button-outlined p-button-info"></button>
      </div>
    </div>
  </ng-template>
</p-panel>

<!--
<p>Number Theory</p>

<form>
  <div>

  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Integer</th>
      <th>IsEven</th>
      <th>IsOdd</th>
      <th>Divisors</th>
      <th>IsDivisorOf(10)</th>
      <th>IsMultipleOf(200)</th>
      <th>MaximalCommonDivisorOf(8)</th>
      <th>isRelativePrimeOf(8)</th>
      <th>isPrime</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of integers; let index = index;">
      <td>{{ i.value }}</td>
      <td>{{ i.isEven }}</td>
      <td>{{ i.isOdd }}</td>
      <td>{{ i.divisors }}</td>
      <td>{{ i.isDivisorOf(10) }}</td>
      <td>{{ i.isMultipleOf(200) }}</td>
      <td>{{ i.maximalCommonDivisorOf(8) }}</td>
      <td>{{ i.isRelativePrimeOf(8) }}</td>
      <td>{{ i.isPrime }}</td>
    </tr>
  </tbody>
</table>
-->
