<app-message-modal
  [visible]="appService.process.processingMode"
  [message]="appService.process.message">
</app-message-modal>

<p-panel id="htmlContent">
  <ng-template pTemplate="header">
    <div><span class="pi pi-sync"></span>&nbsp;Análisis combinatorio</div>
  </ng-template>

  <ng-template pTemplate="icons">
    <div>
      <button type="button" pButton (click)="onClickPrint()" title="Print list of expressions" class="p-button-outlined p-button-success">
        <em class="pi pi-print"></em>
      </button>
    </div>
  </ng-template>

  <ng-template pTemplate="body">
    <form form="form">
      <div class="grid bg-gray-900">
        <div class="col-12">
          <label for="problem"><span class="pi pi-sort-alt-slash"></span>&nbsp;Problemas</label>
          <p-dropdown id="problem"
            [options]="problems" [formControl]="controls.problem"
            optionLabel="label" optionValue="value" optionDisabled="inactive"
            (onChange)="onChangeProblem()"
            placeholder="Selecciona un problema"
            styleClass="w-full">
          </p-dropdown>
        </div>
      </div>
    </form>

    <div class="grid bg-gray-900" *ngIf="form.valid">
      <div class="col-12 md:col-6">
        <p class="title">Planteamiento</p>
        <p>{{ problem.label }}</p>
        <ng-container *ngIf="problem.value.startsWith('MN')">
          <p><span class="subtitle">Fuente:</span>
            <br /><span class="cursive">Combinatoria.</span>
            <br />García, Luis Miguel, Velázquez; Pérez, María Luisa, Seguí; y Raggi, Miguel, Pérez.<span class="cursive">&nbsp;Matemáticas naturales.</span>
            <br />Pps. 59-65. Universidad Nacional Autónoma de México, 2017.
          </p>
        </ng-container>
        <ng-container *ngIf="problem.value.startsWith('AS')">
          <p><span class="subtitle">Fuente:</span>
            <br /><span class="cursive">Análisis combinatorio.</span>
            <br />Hall, M. A., H. S., and Knight, B. A., S. R., <span class="cursive">Álgebra Superior.</span>
            <br />Pps. 137-158. Editorial UTEHA, S. A. de C. V., 1982.
          </p>
        </ng-container>
      </div>

      <!-- Soluciones -->
      <div class="col-12 md:col-6">
        <p class="title">Solución</p>

        <ng-container *ngIf="problem.value==='MN-01'">
          <p>La solución "manual" consistiría en contar las combinaciones del tipo: aaa, aab, aba, baa, bab, bbb, ...</p>
          <p>Las letras del alfabeto podrían repetirse en cada palabra, ya que no se pide ningún tipo de exclusión.</p>
          <p>Por lo tanto, el conteo equivaldría al número de letras del alfabeto (2) elevadas al número de repeticiones (3), es decir, 2<sup>3</sup>.</p>
          <p>Realizando el cálculo matemático obtendríamos: {{ variation.calculate() }}</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-02'">
          <p>La solución "manual" consistiría en contar las combinaciones del tipo: 000, 001, 002, 003, 004, 005, ..., 999</p>
          <p>Los números podrían repetirse en cada "palabra", ya que no se pide ningún tipo de exclusión.</p>
          <p>Por lo tanto, el conteo equivaldría a la cantidad de números del alfabeto (10) elevadas al número de repeticiones (3), es decir, 10<sup>3</sup>.</p>
          <p>Realizando el cálculo matemático obtendríamos: {{ variation.calculate() }}</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-03'">
          <p>La solución "manual" consistiría en contar las combinaciones del tipo: AAA00, AAA01, AAA02, ..., ZZZ99</p>
          <p>Las letras y los números podrían repetirse en cada placa, ya que no se pide ningún tipo de exclusión.</p>
          <p>Por lo tanto, el conteo equivaldría a la cantidad de letras [ABCDEFGHIJKLMNÑOPQRSTUVWXYZ] del alfabeto (27) elevada al número de repeticiones (3) multiplicadas por la cantidad de números (10) elevadas al número de repeticiones (2), es decir, (27<sup>3</sup>) * (10<sup>2</sup>).</p>
          <p>Realizando el cálculo matemático obtendríamos: {{ variation.calculate() }}</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-04'">
          <p>Revísense los problemas previos, ya que a partir de ellos podemos deducir que la solución está dada por el número de letras del alfabeto elevado al número de repeticiones, en este caso, n.</p>
          <p>Por lo tanto, la solución es en este caso: 2<sup>n</sup>, donde n es el número de repeticiones, es decir, el largo de la palabra.</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-05'">
          <p>En este tipo de problemas podemos ver lo importante que es identificar el tipo de problema al que nos enfrentamos: variaciones, permutaciones, combinaciones, etc.</p>
          <p>En este caso se trata de combinaciones. Una combinación en una variación que se diferencia de otra porque al comparar sus elementos existirá al menos uno diferente, o porque, si son los mismos elementos, al menos uno de ellos estará colocado en una diferente posición con respecto a la otra combinación.</p>
          <p>Por ejemplo, si A es presidente y C secretario, entonces C y A pueden ser una combinación distinta si se invierten los papeles de presidente y secretario, es decir AC será diferente de CA. Ambas serán combinaciones válidas.</p>
          <p>Nótese que al seleccionar el presidente, restarán tres personas. Entonces, por cada presidente, existen tres opciones diferentes de secretario. Finalmente, al seleccionar al secretario, restarán dos personas, que ya no entrarán en el cálculo de las combinaciones.</p>
          <p>El algoritmo de combinaciones nos permite ordenar los resultados finales. Eso nos facilita ver lo explicado anteriormente.</p>
          <p>Realizando el cálculo matemático obtenemos: {{ combination.calculate() }}</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-06'">
          <p>En este tipo de problemas podemos ver lo importante que es identificar el tipo de problema al que nos enfrentamos: variaciones, permutaciones, combinaciones, etc.</p>
          <p>En este caso se trata de combinaciones. Una combinación en una variación que se diferencia de otra porque al comparar sus elementos existirá al menos uno diferente, o porque, si son los mismos elementos, al menos uno de ellos estará colocado en una diferente posición con respecto a la otra combinación.</p>
          <p>Realizando el cálculo matemático obtenemos: {{ combination.calculate() }}</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-07'">
          <p>En este tipo de problemas podemos ver lo importante que es identificar el tipo de problema al que nos enfrentamos: variaciones, permutaciones, combinaciones, etc.</p>
          <p>En este caso se trata de combinaciones. Una combinación en una variación que se diferencia de otra porque al comparar sus elementos existirá al menos uno diferente, o porque, si son los mismos elementos, al menos uno de ellos estará colocado en una diferente posición con respecto a la otra combinación.</p>
          <p>Realizando el cálculo matemático obtenemos: {{ combination.calculate() }}</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-08'">
          <p>En este tipo de problemas podemos ver lo importante que es identificar el tipo de problema al que nos enfrentamos: variaciones, permutaciones, combinaciones, etc.</p>
          <p>En este caso se trata, como en el problema 05, de combinaciones, pero hay una diferencia importante. En dicho problema, los elementos seleccionados jugaban el rol de presidente o secretario, y por lo tanto, dado que cada elemento podía jugar uno u otro rol, no podían excluirse entre sí. Ahora no está definido ningún rol, entonces AB = BA, ya que no tienen un rol definido. Por consiguiente se autoexcluyen. Eso reducirá la cantidad de combinaciones.</p>
          <p>Realizando el cálculo matemático obtenemos: {{ combination.calculate() }}</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-09'">
          <p>Tratemos de identificar el tipo de problema al que nos enfrentamos: ¿variaciones, combinaciones, permutaciones?</p>
          <p>-Los ordenamientos incluirán la totalidad de los elementos.</p>
          <p>-En este caso, cada elemento, como número, jugará un rol específico como unidad, decena, centena, millar.</p>
          <p>Hablamos de combinaciones, pero cuando se abarca la totalidad de los elementos se denominan permutaciones.</p>
          <p>A diferencia de las simples variaciones, entre permutaciones lo que varía es la posición de los elementos. En una variación, en cambio, puede aparecer repetido hasta "n" veces un mismo elemento, donde "n" es el número de elementos por ordenar.</p>
          <p>Realizando el cálculo matemático obtenemos: {{ permutation.calculate() }}</p>
        </ng-container>
        <ng-container *ngIf="problem.value==='MN-10'">
          <p>Tratemos de identificar el tipo de problema al que nos enfrentamos: ¿variaciones, combinaciones, permutaciones?</p>
          <p>-Los ordenamientos incluirán la totalidad de los elementos.</p>
          <p>-En este caso, cada elemento, como número, jugará un rol específico como unidad, decena, centena, millar.</p>
          <p>Hablamos de combinaciones, pero cuando se abarca la totalidad de los elementos se denominan permutaciones.</p>
          <p>A diferencia de las simples variaciones, entre permutaciones lo que varía es la posición de los elementos. En una variación, en cambio, puede aparecer repetido hasta "n" veces un mismo elemento, donde "n" es el número de elementos por ordenar.</p>
          <p>Realizando el cálculo matemático obtenemos: {{ combination.calculate() }}</p>
        </ng-container>

        <p-accordion *ngIf="variation.calculate() > 0 && blobData.size > 0"  [activeIndex]="0">
          <p-accordionTab header="Detalles" [selected]="false">
            <a [href]="fileURL" download="resultados.json">
              Descargar resultados [{{blobData.size > 1048576 ? round(blobData.size / 1048576) : round(blobData.size / 1024) }} {{blobData.size > 1000000 ? 'MB' : 'KB'}} | {{blobData.type}}]
            </a>

            <ng-container *ngIf="variation.calculate() <= 1000;">
              <table>
                <thead>
                  <tr>
                    <td>No.</td>
                    <td>Combinación</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let combination of variation.list(false); let i=index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ combination }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </p-accordionTab>
        </p-accordion>

        <p-accordion *ngIf="combination.calculate() > 0 && blobData.size > 0"  [activeIndex]="1">
          <p-accordionTab header="Detalles" [selected]="false">
            <a [href]="fileURL" download="resultados.json">
              Descargar resultados [{{blobData.size > 1048576 ? round(blobData.size / 1048576) : round(blobData.size / 1024) }} {{blobData.size > 1000000 ? 'MB' : 'KB'}} | {{blobData.type}}]
            </a>

            <ng-container *ngIf="variation.calculate() <= 1000;">
              <table>
                <thead>
                  <tr>
                    <td>No.</td>
                    <td>Combinación</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let combination of combination.list(true); let i=index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ combination }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </p-accordionTab>
        </p-accordion>

        <p-accordion *ngIf="permutation.calculate() > 0 && blobData.size > 0"  [activeIndex]="2">
          <p-accordionTab header="Detalles" [selected]="false">
            <a [href]="fileURL" download="resultados.json">
              Descargar resultados [{{blobData.size > 1048576 ? round(blobData.size / 1048576) : round(blobData.size / 1024) }} {{blobData.size > 1000000 ? 'MB' : 'KB'}} | {{blobData.type}}]
            </a>

            <ng-container *ngIf="permutation.calculate() <= 1000;">
              <table>
                <thead>
                  <tr>
                    <td>No.</td>
                    <td>Permuta</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let combination of permutation.list(); let i=index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ combination }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </p-accordionTab>
        </p-accordion>

      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="grid">
      <!-- <div class="col-12 text-center">
        <button type="button" label="Calculate" pButton title="Calculate" [disabled]="form.invalid" (click)="onClickCalculate()" class="p-button-outlined p-button-info"></button>
      </div> -->
    </div>
  </ng-template>
</p-panel>

<!--
<h4>Matemáticas Naturales</h4>

<p>Plates of two chars and 1 digit: {{ variationOfPlates.calculate() }}<br /><br />
   <ng-container *ngFor="let variation of variationOfPlates.list(true)">
    <span>{{ variation }}</span><br />
  </ng-container>
</p>

<p>President and vicepresident of four persons: {{ combination.calculate() }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfPresidenAndVicepresidentFromFourPersons.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>
-->

<!-- <p>Combinations of 5 Chairs: {{ combinationOfFiveChairs.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfFiveChairs.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Combination of 3 Digits: {{ combinationsOfThreeDigits.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of combinationsOfThreeDigits.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Selection of 2 of 4 Persons: {{ selectionOfTwoFromFourPersons.calculation }}<br /><br />
  <ng-container *ngFor="let combination of selectionOfTwoFromFourPersons.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Permutations of 4 Digits: {{ permutationsOfFourDigits.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationsOfFourDigits.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Variation of 2 from 4 Chars: {{ variationOfTwoOfFourChars.calculation }}<br /><br />
  <ng-container *ngFor="let combination of variationOfTwoOfFourChars.list(false)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Combination of 2 from 4 Chars: {{ combinationOfTwoOfFourChars.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfTwoOfFourChars.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Variation of 3 from 4 Chars: {{ variationOfThreeOfFourChars.calculation }}<br /><br />
  <ng-container *ngFor="let variation of variationOfThreeOfFourChars.list(true)">
    <span>{{ variation }}</span><br />
  </ng-container>
</p>

<p>Variation of 2 from 10 Vapors: {{ combinationOfTwoOfTenVapors.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfTwoOfTenVapors.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Variation of 3 from 4 Hotels: {{ combinationOfThreeOfFourHotels.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfThreeOfFourHotels.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Variation of 4 from 6 Chairs: {{ combinationOfFourFromSixChairs.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfFourFromSixChairs.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Variation of 6 from 9 Digits: {{ combinationOfSixFromNineDigits.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfSixFromNineDigits.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Combination Group of 5 from 12 Books: {{ groupsOfOneAndFourFromTwelveBooks.calculation }}<br /><br />
  <ng-container *ngFor="let combination of groupsOfOneAndFourFromTwelveBooks.combinations">
    <p>calculation: {{ combination.calculation }}</p>
    <ng-container *ngFor="let c of combination.list(true)">
      <span>{{ c }}</span><br />
    </ng-container>
  </ng-container>
</p>


<p>Variation of 11 from 14 Mens: {{ combinationOfElevenFromFourteenMens.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfElevenFromFourteenMens.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Combination Group of 5 from 15 Soldats: {{ groupsOfFiveFromFiveteenMens.calculation }}<br /><br />
  <ng-container *ngFor="let combination of groupsOfFiveFromFiveteenMens.combinations">
    <p>calculation: {{ combination.calculation }}</p>
    <ng-container *ngFor="let c of combination.list(true)">
      <span>{{ c }}</span><br />
    </ng-container>
  </ng-container>
</p>

<p>Combination of Britishes And Americans: {{ combinationOfBritishesAndAmericans.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfBritishesAndAmericans.combinations">
    <p>Calculation: {{ combination.calculation }}</p>
    <ng-container *ngFor="let c of combination.list(true)">
      <span>{{ c }}</span><br />
    </ng-container>
  </ng-container>
</p>

<p>Combination of Britishes And Americans II: {{ combinationOfBritishesAndAmericansII.calculation }}<br /><br />
  <ng-container *ngFor="let combinations of combinationOfBritishesAndAmericansII.groups">
    <ng-container *ngFor="let combination of combinations">
      <p>Calculation: {{ combination.calculation }}</p>
      <ng-container *ngFor="let c of combination.list(true)">
        <span>{{ c }}</span><br />
      </ng-container>
    </ng-container>
  </ng-container>
</p> -->

<!--
  <p>Combination of Numbers: {{ combinationOfNumbers.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfNumbers.list(true)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>

<p>Combination of Plates: {{ combinationOfPlates.calculation }}<br /><br />
  <ng-container *ngFor="let combination of combinationOfPlates.list(false)">
    <span>{{ combination }}</span><br />
  </ng-container>
</p>


<p>Permutations of 2 Chars: {{ permutationOfTwoChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfTwoChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>




<p>Permutations of 2 of 8 Digits: {{ permutationOfTwoOfOctalDigits.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfTwoOfOctalDigits.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 6 of 8 Digits: {{ permutationOfSixOfOctalDigits.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfSixOfOctalDigits.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 6 of 6 Digits: {{ permutationOfSixOfSixChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfSixOfSixChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 1 of 7 Chars: {{ permutationOfOneOfSevenChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfOneOfSevenChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 3 of 5 Chars: {{ permutationOfThreeOfFiveChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfThreeOfFiveChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 3 of 12 Chars: {{ permutationOfThreeOfTwelveChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfThreeOfTwelveChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 3 of 9 Chars: {{ permutationOfThreeOfNineChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfThreeOfNineChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 3 of 6 Chars: {{ permutationOfThreeOfSixChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfThreeOfSixChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 3 of 3 Chars: {{ permutationOfThreeOfThreeChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfThreeOfThreeChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 4 of 12 Chars: {{ permutationOfFourOfTwelveChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfFourOfTwelveChars.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations of 1s and 4s: {{ permutationOfOneAndFours.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationOfOneAndFours.list(true)">
    <span>{{ permutation }}</span><br />
  </ng-container>
</p>

<p>Permutations Group of 12 Chars: {{ permutationsOfTwelveChars.calculation }}<br /><br />
  <ng-container *ngFor="let permutation of permutationsOfTwelveChars.permutations">
    <p>calculation: {{permutation.calculation}}</p>
    <ng-container *ngFor="let p of permutation.list(true)">
      <span>{{ p }}</span><br />
    </ng-container>
  </ng-container>
</p> -->
